.login{
  height: 100vh;
  background:linear-gradient(45deg, #d2001a,#7462ff,#f48e21,#23d5ab);
  background-size: 300% 300%;
  animation: color 12s ease-in-out infinite;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  @keyframes color {
    0%{
      background-position: 50% 0%;
    }
    50%{
      background-position: 50% 100%;
    }
    100%{
      background-position: 50% 0%;
    }
  }
  .card{
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    min-height: 550px;
    overflow: hidden;
    
    .right{
      flex: 1;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)),
        url("https://i.pinimg.com/564x/b5/3e/1c/b53e1c921aca9e6a105a8e1bb5e0bd7f.jpg")
          center;
      background-size: cover;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: #fff;

      h1{
        font-size: 50px;
        line-height: 30px;
      }
      p{}
      span{
        font-size: 14px;
      }
      button{
        width: 35%;
        padding: 10px;
        border: none;
        background-color: #fff;
        color: rebeccapurple;
        font-weight: bold;
        cursor: pointer;
      }
    }
    .left{
      flex: 1;
      padding: 50px;
      display: flex;
      flex-direction: column;
      gap: 50px;
      justify-content: center;

      h1{
        color: #555;
      }
      form{
        display: flex;
        flex-direction: column;
        gap: 30px;
        input{
          border: none;
          border-bottom: 1px solid lightgray;
          padding: 20px 10px;
        }
        button{
          width: 50%;
          padding: 10px;
          border: none;
          background-color: #938eef;
          color: #fff;
          font-weight: bold;
          cursor: pointer;
        }
      }
    }
  }
}